html, body{
  font-family: Tahoma, Verdana, Segoe, sans-serif;
  background: #ffffff;
	height: 100%;
	margin: 0;
	color: #333333;
	font-size: 16px;
	line-height: 1.42857143;
	font-weight: 400;
	-webkit-overflow-scrolling : touch !important;
}

button, input, optgroup, select, textarea {
	font-family: Tahoma, Verdana, Segoe, sans-serif;
}

button {
	border: 0;
	background-color: transparent;
	padding: 0;
	margin: 0;
	-webkit-appearance: none;
}


a, a:link, a:visited {
  text-decoration: none;
}

* {
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  outline: none !important;
}